# forest settings
FOREST_ENV_SECRET=
FOREST_AUTH_SECRET=
# FOREST_SERVER_URL=https://api.development.forestadmin.com
# FOREST_VERIFY_SSL=True
# FOREST_IS_PRODUCTION=False

# fastapi settings
FASTAPI_DEBUG=True
